<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693654919772-p854qbqsh71bqvfbi4k4tqbgp24pon3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693654919772-p854qbqsh71bqvfbi4k4tqbgp24pon3o</string>
	<key>API_KEY</key>
	<string>AIzaSyA9LqFhRYhWo5x_vWEKRWrD3VQ5mPl8uU8</string>
	<key>GCM_SENDER_ID</key>
	<string>693654919772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bellicreative.com.SocialMedia342524224242</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-340ab</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-340ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693654919772:ios:e2398d0415de343c622499</string>
</dict>
</plist>